/* Set default font-family and color for entire page */
body {
    font-family: Arial, sans-serif;  /* You can change Arial to any other web-safe font or use a web font */
    color: #333;  /* Dark gray, almost black. This will ensure text visibility on both light and dark backgrounds */
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 0px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    resize: vertical; 
    font-family: inherit;  /* Ensure the font remains consistent */
    color: inherit;  /* Ensure the color remains consistent */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f5f5dc;
    padding: 20px;
}

.custom-text {
    font-size: 20px;
    color: red;
}

code {
    background-color: #f5f5dc !important;
    font-family: 'Source Code Pro', Arial, sans-serif !important;  /* Fallback to Arial if 'Source Code Pro' fails to load */
    font-size: 16px !important;
    color: darkorange !important;
    padding: 2px !important;
    border-radius: 4px !important;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
